* {
	font-family: verdana;
	margin: 0;
	background-color: Black;
	color: White;
}

a {
	text-decoration: none;
	color:  #a6a6a6;
}

a:hover {
	text-decoration: underline;
}

header {
	text-align: center;
	padding: 20px;
	font-family: arial;
	font-size: 32px;
	font-weight: bold;
}

h1 {
	font-size: 18.72px;
	display: block;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	display: block;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;	
}

h3 {
	font-size: 13.28px;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;	
}

section {
	margin: 50px;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	overflow: hidden;
	background-color: MediumSlateBlue;
}

.navbar-item {
	float: left;
}

.navbar-item a {
	display: block;
	color: LightGrey;
	text-align: center;
	padding: 14px 18px;
	text-decoration: none;
	background-color: MediumSlateBlue;
}

.navbar-item a:hover {
	color: #e6e6e6;
}

.navbar-item-selected a:hover {
	color: White;
}

.navbar-item-main a {
	font-size: 110%;
	color: White;
}

.navbar-item-selected a {
	color: White;
}

.navbar .icon {
  display: none;
}