<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<meta name="author" content="RedstoneTim">
		<link rel="icon" type="image/png" href="/icon.png">
	</head>
	
	<body>
		<header>{{ page.title }}</header>
		
		{% include navigation.html %}
	
		<section>
			{{content}}
		</section>
		
		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>