<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<meta name="author" content="RedstoneTim">
		<link rel="icon" type="image/png" href="/icon.png">
	</head>
	
	<body>
		<header>{{ page.title }}</header>
		
		{% include navigation.html %}
	
		<section>
			{% for item in site.data.navigation %}
				{% if item.dir == page.dir %} <a href="{{item.link}}">Back to {{item.name}}</a><br><br> {% endif %}
			{% endfor %}
			{{content}}
		</section>
	</body>
</html>